In [28]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression
from matplotlib import pyplot as plt
from sklearn.preprocessing import MinMaxScaler

In [29]:
# Reading aggregated dataset
df = pd.read_csv('/home/lavrenchuk/TS_Project_Favorita/data/processed/data.csv')
display(df.tail())

            date  unit_sales
1682  2017-08-11   80783.227
1683  2017-08-12   77928.860
1684  2017-08-13   92090.859
1685  2017-08-14   69852.929
1686  2017-08-15   80080.046


- is_holiday
- before_holiday
- after_holiday
- day_of_month

In [ ]:
df['date'] = pd.to_datetime(df['date'])
df = df.set_index("date")
#Таргет:
df['unit_sales']    #y
df['unit_sales_log']= np.log1p(df['unit_sales'])   #y_log

#Календарні фічі:
df['month'] = df.index.month 
df['day_of_month'] = df.index.day
df['weekday'] = df.index.dayofweek  # 0=Mon, 6=Sun
df["is_workday"] = df["weekday"] <=4  # [Mon, Tue, Wed, Thu, Fri] => True, [Sat, Sun]-> False.
df["is_workday"] = df["weekday"] <=4  # [Mon, Tue, Wed, Thu, Fri] => True, [Sat, Sun]-> False.

#Лагові фічі:
df['lag_log_1'] = df['unit_sales_log'].shift(1)
df['lag_log_7'] = df['unit_sales_log'].shift(7)
df['lag_log_14'] = df['unit_sales_log'].shift(14)
df['lag_log_28'] = df['unit_sales_log'].shift(28)

#Рухоме середнє
df['roll_mean_7']= df['unit_sales'].rolling(window=7, center=True).mean()
df['roll_mean_14']= df['unit_sales'].rolling(window=14, center=True).mean()
df['roll_mean_28']= df['unit_sales'].rolling(window=28, center=True).mean()
df['roll_mean_56']= df['unit_sales'].rolling(window=56, center=True).mean()
df['roll_std_7']= df['unit_sales'].rolling(window=7, center=True).std()
df['roll_std_28']= df['unit_sales'].rolling(window=28, center=True).std()

#Циклічні змінні
df["dow_sin"] = np.sin(2*np.pi*df['day_of_week']/7)
df["dow_cos"] = np.cos(2*np.pi*df['day_of_week']/7)

print(df.index)   #control of index
display(df.tail())

DatetimeIndex(['2013-01-02', '2013-01-03', '2013-01-04', '2013-01-05',
               '2013-01-06', '2013-01-07', '2013-01-08', '2013-01-09',
               '2013-01-10', '2013-01-11',
               ...
               '2017-08-06', '2017-08-07', '2017-08-08', '2017-08-09',
               '2017-08-10', '2017-08-11', '2017-08-12', '2017-08-13',
               '2017-08-14', '2017-08-15'],
              dtype='datetime64[ns]', name='date', length=1687, freq=None)

,unit_sales,unit_sales_log,month,weekday,is_workday,lag_log_1,lag_log_7,lag_log_14,lag_log_28,roll_mean_7,roll_mean_14,roll_mean_28,roll_mean_56,roll_std_7,roll_std_28
date,,,,,,,,,,,,,,,
2017-08-11,80783.227,11.299537,8,4,True,10.984767,11.172635,11.192696,11.086023,72849.815857,NaN,NaN,NaN,11434.853035,NaN
2017-08-12,77928.860,11.263564,8,5,False,11.299537,11.399004,11.469589,11.365008,74739.664000,NaN,NaN,NaN,11371.208127,NaN
2017-08-13,92090.859,11.430542,8,6,False,11.263564,11.571467,11.615288,11.574843,NaN,NaN,NaN,NaN,NaN,NaN
2017-08-14,69852.929,11.154162,8,0,True,11.430542,11.195912,11.342291,11.196703,NaN,NaN,NaN,NaN,NaN,NaN
2017-08-15,80080.046,11.290794,8,1,True,11.154162,11.110238,11.509225,11.098969,NaN,NaN,NaN,NaN,NaN,NaN